@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

*:before,
*:after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, sans-serif;
}

progress {
  appearance: none;
  -webkit-appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #F7F7F7;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #00C1FF;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #00C1FF;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
